---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>

                <h2 class="text-2xl font-extrabold text-[#4b6496] border-b-2 border-gray-200 pb-3 mb-4">

					<strong>Педагогічний колектив Гімназії № 201 в минулому навчальному році складався з 75 осіб, з них:</strong>
			
				</h2>
			
				<div class="space-y-4">
			
					<h3 class="text-lg font-semibold text-gray-800">- основних працівників – 70;</h3>
			
					<h3 class="text-lg font-semibold text-gray-800">- працюють за сумісництвом – 5;</h3>
			
			
			
					<h2 class="text-xl font-bold text-[#4b6496] pt-3 border-t border-gray-200">Склад педагогів за кваліфікацією:</h2>
			
					<ul class="list-disc list-inside ml-4 space-y-1 text-gray-700">
			
						<li>Спеціалістів вищої кваліфікаційної категорії – <span class="font-bold text-gray-900">23</span></li>
			
						<li>Спеціалістів І категорії – <span class="font-bold text-gray-900">8</span></li>
			
						<li>Спеціалістів ІІ категорії - <span class="font-bold text-gray-900">5</span></li>
			
						<li>Спеціалістів – <span class="font-bold text-gray-900">34</span></li>
			
					</ul>
			
			
			
					<h2 class="text-xl font-bold text-[#4b6496] pt-3 border-t border-gray-200">Мають педагогічні звання:</h2>
			
					<ul class="list-disc list-inside ml-4 space-y-1 text-gray-700">
			
						<li>Вчитель – методист – <span class="font-bold text-gray-900">12</span></li>
			
						<li>Старший учитель – <span class="font-bold text-gray-900">8</span></li>
			
						<li>Нагороджені знаком «Відмінник освіти України» – <span class="font-bold text-gray-900">4</span></li>
			
					</ul>
			
			
			
					<h2 class="text-xl font-bold text-[#4b6496] pt-3 border-t border-gray-200">За віковим складом педагогічний колектив у 2024-2025 році розподілений:</h2>
			
					<ul class="ml-4 space-y-1 text-gray-700">
			
						<li>До 20 років - <span class="font-bold text-gray-900">0</span></li>
			
						<li>20-30 років – <span class="font-bold text-gray-900">11</span></li>
			
						<li>30-40 років - <span class="font-bold text-gray-900">23</span></li>
			
						<li>40-50 років – <span class="font-bold text-gray-900">20</span></li>
			
						<li>50-60 років - <span class="font-bold text-gray-900">14</span></li>
			
						<li>Понад 60 років - <span class="font-bold text-gray-900">7</span></li>
			
					</ul>
			
				</div>

            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>