---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
                <h1 style="color: rgb(75, 100, 150); border-bottom-color: rgb(75, 100, 150);" class="text-3xl font-bold text-gray-800 mb-6 border-b pb-2">Кошторис за роками</h1>
            
                <ul class="space-y-4">
                    <li class="border-t border-gray-200 pt-4">
                        <a href="http://drive.google.com/file/d/1pkRrj1QvfGNtFbJdcBqNCcCALQZsWpBF/view?usp=sharing" target="_blank" title=" (у новому вікні)" style="color: rgb(75, 100, 150);" class="text-xl font-semibold text-blue-600 hover:text-blue-800 hover:underline transition duration-150 ease-in-out block">
                            Кошторис на 2025 рік
                        </a>
                    </li>
                    <li class="border-t border-gray-200 pt-4">
                        <a href="http://drive.google.com/file/d/1CFpM5rKz7ua0Ggb1SRw_RQQa6BpwFNJt/view?usp=sharing" target="_blank" title=" (у новому вікні)" style="color: rgb(75, 100, 150);" class="text-xl font-semibold text-blue-600 hover:text-blue-800 hover:underline transition duration-150 ease-in-out block">
                            Кошторис на 2024 рік
                        </a>
                    </li>
                    <li class="border-t border-gray-200 pt-4">
                        <a href="http://drive.google.com/file/d/1pHM34DlOvr_SnO5XK9KLnzX8_z5WNq5x/view?usp=sharing" target="_blank" title=" (у новому вікні)" style="color: rgb(75, 100, 150);" class="text-xl font-semibold text-blue-600 hover:text-blue-800 hover:underline transition duration-150 ease-in-out block">
                            Кошторис на 2023 рік
                        </a>
                    </li>
                    <li class="border-t border-gray-200 pt-4">
                        <a href="http://drive.google.com/file/d/1YRR4i0xp-oq-HMA5sEDDtM3a3_9DvpbI/view?usp=share_link" target="_blank" title=" (у новому вікні)" style="color: rgb(75, 100, 150);" class="text-xl font-semibold text-blue-600 hover:text-blue-800 hover:underline transition duration-150 ease-in-out block">
                            Кошторис на 2022 рік
                        </a>
                    </li>
                    <li class="border-t border-gray-200 pt-4">
                        <a href="http://school201.edukit.kiev.ua/Files/downloads/%D0%9A%D0%BE%D1%88%D1%82%D0%BE%D1%80%D0%B8%D1%81%20%D0%BD%D0%B0%202021-%D0%B9%20%D1%80%D1%96%D0%BA_20210301_0001.pdf" style="color: rgb(75, 100, 150);" class="text-xl font-semibold text-blue-600 hover:text-blue-800 hover:underline transition duration-150 ease-in-out block">
                            Кошторис на 2021 рік
                        </a>
                    </li>
                    <li class="border-t border-gray-200 pt-4">
                        <a href="http://school201.edukit.kiev.ua/Files/downloads/%D0%9A%D0%BE%D1%88%D1%82%D0%BE%D1%80%D0%B8%D1%81%20%D0%BD%D0%B0%202020%20%D1%80%D1%96%D0%BA.pdf" style="color: rgb(75, 100, 150);" class="text-xl font-semibold text-blue-600 hover:text-blue-800 hover:underline transition duration-150 ease-in-out block">
                            Кошторис на 2020 рік
                        </a>
                    </li>
                    <li class="border-t border-gray-200 pt-4">
                        <a href="http://school201.edukit.kiev.ua/Files/downloads/%D0%BA%D0%BE%D1%88%D1%82%D0%BE%D1%80%D0%B8%D1%81%202019.pdf" style="color: rgb(75, 100, 150);" class="text-xl font-semibold text-blue-600 hover:text-blue-800 hover:underline transition duration-150 ease-in-out block">
                            Кошторис на 2019 рік
                        </a>
                    </li>
                    <li class="border-t border-gray-200 pt-4">
                        <a href="http://school201.edukit.kiev.ua/Files/downloads/Kosht-2018_201.pdf" style="color: rgb(75, 100, 150);" class="text-xl font-semibold text-blue-600 hover:text-blue-800 hover:underline transition duration-150 ease-in-out block">
                            Кошторис на 2018 рік
                        </a>
                    </li>
                    <li class="border-t border-gray-200 pt-4">
                        <a href="http://drive.google.com/file/d/1HzBO2pl_K9MU2QOZ6U10JvMzElgLhUGJ/view?usp=sharing" target="_blank" title=" (у новому вікні)" style="color: rgb(75, 100, 150);" class="text-xl font-semibold text-blue-600 hover:text-blue-800 hover:underline transition duration-150 ease-in-out block">
                            Кошторис на 2017 рік
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>