---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article style="--main-color: rgb(75, 100, 150); --light-main-color: rgba(75, 100, 150, 0.1);">

    

    <h2 class="text-3xl md:text-4xl font-extrabold text-gray-900 mb-4 border-b-2 pb-2" 

        style="border-color: var(--main-color);">

        У 2025-2026 році у закладі навчається <strong style="color: var(--main-color);">27 класів</strong>, у яких освіту здобувають <strong style="color: var(--main-color);">749</strong> здобувачів освіти. 

    </h2>

    

    <div class="space-y-4">

        <h3 class="text-xl font-semibold text-gray-700 p-3 rounded-lg border-l-4" 

            style="background-color: var(--light-main-color); border-color: var(--main-color);">

            1-4 класів - 12 класів, у них навчалися 362 учні 

        </h3>

        <h3 class="text-xl font-semibold text-gray-700 p-3 rounded-lg border-l-4" 

            style="background-color: var(--light-main-color); border-color: var(--main-color);">

            5-9 класів - 15 класів, у яких навчалися 387 учнів.

        </h3>

    </div>

    

    

</article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>