---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>

                <div class="space-y-4">
            
                    <h1 class="text-3xl font-bold text-gray-900 mb-6 border-b-2 border-[#4b6496] pb-2">Матеріально-технічне забезпечення</h1>
            
                    
            
                    <ul class="list-disc pl-5 space-y-3 text-lg text-gray-700">
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span><strong class="font-semibold">Нові комп'ютерні класи</strong>, сучасні кабінети</span>
            
                        </li>
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span><strong class="font-semibold">37 кабінетів</strong>, обладнані мультимедійною технікою</span>
            
                        </li>
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span>Сучасна <strong class="font-semibold">3D лабораторія</strong></span>
            
                        </li>
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span>Сучасний <strong class="font-semibold">стадіон</strong></span>
            
                        </li>
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span>Спортивний та ігровий <strong class="font-semibold">майданчики для учнів початкової школи</strong></span>
            
                        </li>
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span><strong class="font-semibold">Спортивна зала</strong></span>
            
                        </li>
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span><strong class="font-semibold">Актова зала</strong></span>
            
                        </li>
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span><strong class="font-semibold">Хореографічна зала</strong></span>
            
                        </li>
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span><strong class="font-semibold">Їдальня</strong></span>
            
                        </li>
            
                        <li class="flex items-center">
            
                            <span class="text-[#4b6496] mr-2">✅</span>
            
                            <span><strong class="font-semibold">100% покриття Інтернет та Wi Fi</strong></span>
            
                        </li>
            
                    </ul>
            
                </div>
            
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>