<div class="flex flex-wrap justify-center gap-3 md:gap-4 p-4 rounded-lg shadow-inner">
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/statut" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Статут
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/licenziya" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Ліцензія
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/struktura_ta_organi_upravlinnya_zakladu_osviti" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Структура та органи управління закладу освіти
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/kadrovij_sklad_zgidno_z_licenzijnimi_umovami" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Кадровий склад згідно з ліцензійними умовами
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/osvitni_programi" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Освітні програми
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/teritoriya_obslugovuvannya" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Територія обслуговування
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/licenzovanij_obsyag_ta_faktichna_kiljkistj_zdobuvachiv_osviti" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Ліцензований обсяг та фактична кількість здобувачів освіти
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/mova_osvyatnjogo_procesu" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Мова освітнього процесу
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/vakansii" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Вакансії
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/materialjno-tehnichne_zabezpechennya" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Матеріально-технічне забезпечення
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/rezuljtati_monitoringu_yakosti_osviti" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Результати моніторингу якості освіти
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/monitoringovi_doslidzhennya" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Моніторингові дослідження
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/zvituvannya" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Звітування  (річний звіт про діяльність закладу та звіт про використання коштів)
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/pravila_prijomu" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Правила прийому
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/perelik_dodatkovih_osvitnih_ta_inshih_poslug_ih_vartistj_poryadok_nadannya" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Перелік додаткових освітніх та інших послуг, їх вартість, порядок надання
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/pravila_povedinki_zdobuvacha_osviti" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Правила поведінки здобувача освіти
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/zahodi_iz_protidiibulingu_u_zakladi" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Заходи із протидії булінгу у закладі
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/viljni_miscya" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Вільні місця
    </a>
    <a href="/vidkritistj_ta_prozoristj_zakladu_osviti/koshtoris" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Кошторис
    </a>
</div>