---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>

                <div class="container mx-auto p-4">

                    <table class="min-w-full bg-white shadow-md rounded-xl overflow-hidden border-collapse">
                
                        <caption class="text-xl font-bold p-4 text-gray-800" style="color: rgb(75, 100, 150);">
                
                            Моніторингові дослідження
                
                        </caption>
                
                        <thead class="bg-blue-600 text-white" style="background-color: rgb(75, 100, 150);">
                
                            <tr>
                
                                <th class="py-3 px-6 text-left border-b border-gray-200">Дата</th>
                
                                <th class="py-3 px-6 text-left border-b border-gray-200">Назва</th>
                
                                <th class="py-3 px-6 text-center border-b border-gray-200">Кількість <br> учасників</th>
                
                            </tr>
                
                        </thead>
                
                        <tbody class="text-gray-700">
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">6 жовтня 2008 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Моніторингове дослідження рівня сформованості базових хімічних знань учнів 8-х класів</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">24</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out bg-gray-50">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">18 березня 2009 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Рівень готовності випускників початкової школи (4 клас) до навчання в основній школі</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">16</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">28 квітня 2009 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Моніторингове дослідження якості математичної освіти учнів 9-х класів</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">12</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out bg-gray-50">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">14 квітня 2010 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Моніторингове дослідження якості математичної освіти учнів 5-х класів</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">15</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">27 квітня 2011 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Моніторингове дослідження якості математичної освіти учнів 9-х класів</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">20</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out bg-gray-50">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">22 лютого 2012 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Рівень сформованості базових природничо-математичних компетенцій учнів 8-х класів</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">19</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">17 квітня 2013 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Дослідження рівня сформованості функціональної грамотності учнів 10-х класів ЗНЗ м. Києва</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">14</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out bg-gray-50">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">24 квітня 2013 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Моніторингове дослідження якості математичної освіти учнів 9-х класів</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">16</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">19 лютого 2014 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Рівень сформованості історичної компетентності учнів 10-х класів ЗНЗ м. Києва</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">10</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out bg-gray-50">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">05 грудня 2014 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Культура мовлення учнів 8-х класів навчальних закладів м. Києва</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">16</td>
                
                            </tr>
                
                            <tr class="hover:bg-blue-50 transition duration-150 ease-in-out">
                
                                <td class="py-4 px-6 border-b border-gray-200 whitespace-nowrap">22 березня 2017 року</td>
                
                                <td class="py-4 px-6 border-b border-gray-200">Оцінка рівня готовності учнів 11-х класів м. Києва до зовнішнього незалежного оцінювання з української мови (II етап)</td>
                
                                <td class="py-4 px-6 border-b border-gray-200 text-center">12</td>
                
                            </tr>
                
                        </tbody>
                
                    </table>
                
                </div>

            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>