---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
				<h1 class="text-3xl font-bold text-center mb-6 text-[#4b6496]">

					<br> Діючі освітні програми 2025-2026 н.р.<br> <br>
			
				</h1>
			

				<p class="mx-auto p-4 text-xl font-bold pt-4">
					1-8 класи працюють за програмою НУШ, у 9 класах упроваджується розвивальне навчання за науково-педагогічними проектами «Росток» та «Інтелект України».
				</p>
				
			
				<div class="space-y-4">
			
					<h3 class="text-xl font-semibold">
			
						ОСВІТНЯ ПРОГРАМА на 2025-2026 навчальний рік 
			
						<a href="http://drive.google.com/file/d/1jcu6CVtb63cUDaziHDrbQ28k-bvV764e/view?usp=sharing" target="_blank" title=" (у новому вікні)" class="text-[#4b6496] hover:text-[rgb(50, 75, 125)] underline transition duration-150">завантажити</a>
			
					</h3>
			
					<a href="http://drive.google.com/file/d/1jcu6CVtb63cUDaziHDrbQ28k-bvV764e/view?usp=sharing" title=" (у новому вікні)" class="hidden"></a>
			
					<h2 class="text-lg font-bold text-[#4b6496]">
			
						<a href="http://mon.gov.ua/osvita-2/zagalna-serednya-osvita/osvitni-programi/modelni-navchalni-programi-dlya-5-9-klasiv-novoi-ukrainskoi-shkoli-zaprovadzhuyutsya-poetapno-z-2022-roku" target="_blank" title=" (у новому вікні)" class="text-[rgb(75, 100, 150)] hover:text-[rgb(50, 75, 125)] transition duration-150">
			
							Навчальні програми з окремих предметів для 5-8 класів (НУШ)
			
						</a>
			
					</h2>
			
					
			
					<h2 class="text-lg font-bold text-[#4b6496]">
			
						<a href="http://mon.gov.ua/osvita-2/zagalna-serednya-osvita/osvitni-programi/navchalni-programi-dlya-6-9-klasiv" target="_blank" title=" (у новому вікні)" class="text-[rgb(75, 100, 150)] hover:text-[rgb(50, 75, 125)] transition duration-150">
			
							Навчальні програми з окремих предметіів для 9-х класів
			
						</a>
			
						<a href="http://mon.gov.ua/osvita-2/zagalna-serednya-osvita/osvitni-programi/navchalni-programi-dlya-6-9-klasiv" title=" (у новому вікні)" class="hidden"><br> <br></a>
			
					</h2>
			
					
			
					<h2 class="text-lg font-bold text-[#4b6496]">
			
						<a href="http://mon.gov.ua/osvita-2/zagalna-serednya-osvita/osvitni-programi/navchalni-programi-dlya-1-4-klasiv" target="_blank" title=" (у новому вікні)" class="text-[rgb(75, 100, 150)] hover:text-[rgb(50, 75, 125)] transition duration-150">
			
							Навчальні програми з окремих предметів для 1-4 класів
			
						</a>
			
						<a href="http://mon.gov.ua/osvita-2/zagalna-serednya-osvita/osvitni-programi/navchalni-programi-dlya-1-4-klasiv" title=" (у новому вікні)" class="hidden"></a>
			
					</h2>
			
				</div>
			
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>