---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
                <h3 class="text-2xl font-bold text-gray-800 mb-4 border-b pb-2" style="border-color: rgb(75, 100, 150); color: rgb(75, 100, 150);">Прийом до закладу здійснюється відповідно до Порядку зарахування.</h3>
                
                <div class="mt-6 border-t pt-4">
                    <span class="text-lg font-semibold text-gray-700 block mb-3" style="color: rgb(75, 100, 150);">Вкладення</span>
                    <ul class="space-y-2">
                        <li class="flex items-center">
                            <a href="http://school201.edukit.kiev.ua/Files/downloads/Порядок зарахування та територія обслуговування.pdf" 
                               class="flex items-center text-blue-600 hover:text-blue-800 transition duration-150 ease-in-out font-medium hover:underline" 
                               style="color: rgb(75, 100, 150);">
                                
                                <img src="https://github.com/gymnasium201-kyiv/gymnasium201-kyiv.github.io/blob/main/public/informaciya_pro_zaklad/ico_pdf.gif?raw=true" alt="PDF Icon" class="w-5 h-5 mr-2"> 
                                Порядок зарахування та територія обслуговування.pdf
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>