---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
					<p class="text-center mb-6">
						<span class="inline-block relative">
							<img 
								alt="Обкладинка Статуту" 
								src="http://school201.edukit.kiev.ua/files2/images/2025/%D0%A1%D1%82%D0%B0%D1%82%D1%83%D1%82%20%D0%BE%D0%B1%D0%BA%D0%BB%D0%B0%D0%B4%D0%B8%D0%BD%D0%BA%D0%B0.png?size=10" 
								class="w-full max-w-xs md:max-w-md h-auto border-2 border-gray-300 rounded-lg cursor-pointer transition duration-300 hover:shadow-lg"
							/>
							<a 
								href="http://school201.edukit.kiev.ua/Files/downloads/%D0%A1%D1%82%D0%B0%D1%82%D1%83%D1%82.pdf" 
								title="Для перегляду натисніть на зображення (відкриється файл PDF)" 
								class="absolute inset-0 block z-10"
							>
							</a>
						</span>
					</p>
				
					<h3 class="text-center my-6"> 
						<a 
							href="http://drive.google.com/file/d/1G9nv7oY4LiOa4xSWJpjmnByMUVE2ZWWY/view?usp=sharing" 
							target="_blank" 
							title="Переглянути статут гімназії №201 (відкриється в новому вікні)" 
							class="inline-flex items-center justify-center px-6 py-3 border border-transparent font-medium rounded-full shadow-md text-white bg-[#4b6496] hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150 ease-in-out"
						>
							Переглянути статут гімназії №201
						</a>
					</h3>

            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>