---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article style="font-family: 'Roboto', sans-serif;">

					<div class="mb-6">
				
						<p>
				
							<img alt="/Files/images/2025/Структура управління.jpg" 
				
								 src="https://github.com/gymnasium201-kyiv/gymnasium201-kyiv.github.io/blob/main/public/vidkritistj_ta_prozoristj_zakladu_osviti/struktura_ta_organi_upravlinnya_zakladu_osviti.jpg
                                 ?raw=true" 
				
								 class="w-full h-auto rounded-md object-cover cursor-pointer hover:shadow-xl transition duration-300"
				
							>
				
						</p>
				
					</div>

            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>