---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
				<h3 class="text-xl font-semibold text-center mb-4 text-[#4b6496]">

					Для перегляду натисніть на зображення
			
				</h3>
			
			
			
				<a href="https://www.google.com/maps/d/viewer?mid=1mfQSOksPJPjgbn_eY_voXNmfBo-t_3R2&ll=50.47578083791639%2C30.607436453271475&z=13" title="Для перегляду натисніть на зображення (у новому вікні)" target="_blank" class="block w-full cursor-pointer">
			
					<p class="text-center">
			
						<span class="inline-block relative group">
			
							<img alt="/Files/images/Location.jpg" src="http://school201.edukit.kiev.ua/files2/images/Location.jpg?size=10" class="max-w-full h-auto rounded-lg shadow-md transition-shadow duration-300 group-hover:shadow-xl" />
			
							<span class="absolute inset-0 bg-black opacity-0 group-hover:opacity-10 transition-opacity rounded-lg"></span>
			
						</span>
			
					</p>
			
				</a>
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>