---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article style="font-family: 'Roboto', sans-serif;">

                <div class="container mx-auto p-4 sm:p-6 lg:p-8">

					<h1 class="text-2xl sm:text-3xl font-bold text-center mb-6 text-[#4b6496]">
				  
					  В цьому розділі сайту можна дізнатися таку інформацію:
				  
					</h1>
				  
				  
				  
					<ul class="space-y-3 list-none p-0">
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">1.</span> Статут закладу освіти
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">2.</span> Ліцензії на провадження освітньої діяльності
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">3.</span> Структура та органи управління закладу освіти
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">4.</span> Кадровий склад згідно з ліцензійними умовами
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">5.</span> Освітні програми та перелік освітніх компонентів
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">6.</span> Територія обслуговування
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">7.</span> Ліцензований обсяг та фактична кількість здобувачів освіти
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">8.</span> Мова освітнього процесу
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">9.</span> Наявність вакантних посад, умови та порядок проведення конкурсу
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">10.</span> Матеріально-технічне забезпечення
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">11.</span> Результати моніторингу якості освіти
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">12.</span> Моніторингові дослідження
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">13.</span> Річний звіт про діяльність закладу
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">14.</span> Правила прийому
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">15.</span> Перелік додаткових освітніх та інших послуг, їх вартість, порядок надання
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b border-gray-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">16.</span> Правила поведінки здобувача освіти
				  
					  </li>
				  
					  <li class="text-lg text-gray-700 p-2 border-b-2 border-indigo-200 hover:bg-indigo-50 transition duration-150 ease-in-out">
				  
						<span class="font-semibold text-[#4b6496]">17.</span> Протидія булінгу.
				  
					  </li>
				  
					</ul>
				  
				  
				  
					<h2 class="text-xl sm:text-2xl font-semibold text-center mt-8 mb-6 text-gray-800">
				  
					  Для отримання потрібної інформації оберіть в меню зверху необхідну категорію.
				  
					</h2>
				  </div>

            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>