---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
                <div class="space-y-6">
                    <h1 class="text-xl sm:text-2xl font-bold text-center text-gray-800 border-b pb-4 mb-4 border-gray-200">
                        Наказ про запобігання та протидії булінгу у 2025-2026 н.р. можна переглянути
                        <strong class="text-indigo-600 hover:text-indigo-800 transition duration-150" style="color: rgb(75, 100, 150);">
                            <a href="http://docs.google.com/document/d/1xWiGE4F6Vn1HCCjxy1y4MOzpUWKoL6fs/edit?usp=sharing&amp;ouid=104578019701764355146&amp;rtpof=true&amp;sd=true" target="_blank" title=" (у новому вікні)" class="block p-2 rounded-lg bg-indigo-50 hover:bg-indigo-100" style="background-color: rgba(75, 100, 150, 0.05); color: rgb(75, 100, 150);">
                                за покликанням
                            </a>
                        </strong>
                    </h1>
            
                    <div class="pt-4 border-t border-gray-200 space-y-4">
                        <h1 class="text-lg sm:text-xl font-semibold text-center mt-6">
                            Порядок подання та розгляду заяв про випадки булінгу в закладі освіти
                            <br>
                            <strong class="text-green-600 hover:text-green-800 transition duration-150 mt-2" style="color: rgb(75, 100, 150);">
                                <a href="http://docs.google.com/document/d/1uDNLKLjeff6oKC070vfxOKIRL4oe9XD3/edit?usp=sharing&amp;ouid=104578019701764355146&amp;rtpof=true&amp;sd=true" target="_blank" title=" (у новому вікні)" class="inline-block px-4 py-2 bg-green-50 hover:bg-green-100 rounded-lg" style="background-color: rgba(75, 100, 150, 0.1); color: rgb(75, 100, 150);">
                                    Завантажити
                                </a>
                            </strong>
                        </h1>
            
                        <h1 class="text-lg sm:text-xl font-semibold text-center pt-4">
                            ПОРЯДОК реагування на доведені випадки булінгу (цькування) та відповідальність осіб, причетних до булінгу
                            <br>
                            <strong class="text-green-600 hover:text-green-800 transition duration-150 mt-2" style="color: rgb(75, 100, 150);">
                                <a href="http://docs.google.com/document/d/14v0B1-oMw1dkmzFPGS6lH8znJzOS6A8O/edit?usp=sharing&amp;ouid=104578019701764355146&amp;rtpof=true&amp;sd=true" target="_blank" title=" (у новому вікні)" class="inline-block px-4 py-2 bg-green-50 hover:bg-green-100 rounded-lg" style="background-color: rgba(75, 100, 150, 0.1); color: rgb(75, 100, 150);">
                                    Завантажити
                                </a>
                            </strong>
                        </h1>
                    </div>
            
                    <div class="pt-4 border-t border-gray-200 space-y-4">
                        <h1 class="text-lg sm:text-xl font-semibold text-center mt-6">
                            План заходів гімназії № 201 Дніпровського району міста Києва, спрямованих на запобігання та протидію булінгу в учнівському середовищі на 2025-2026 навчальний рік
                            <br>
                            <strong class="text-green-600 hover:text-green-800 transition duration-150 mt-2" style="color: rgb(75, 100, 150);">
                                <a href="http://docs.google.com/document/d/1e73HM6CpEVSJ0uInBCjWiaedowXe7dL7/edit?usp=sharing&amp;ouid=104578019701764355146&amp;rtpof=true&amp;sd=true" target="_blank" title=" (у новому вікні)" class="inline-block px-4 py-2 bg-green-50 hover:bg-green-100 rounded-lg" style="background-color: rgba(75, 100, 150, 0.1); color: rgb(75, 100, 150);">
                                    Завантажити
                                </a>
                            </strong>
                        </h1>
                    </div>
            
                    <div class="pt-4 border-t border-gray-200 flex flex-col items-center">
                        <a href="http://school201.edukit.kiev.ua/Files/downloads/%D0%91%D1%83%D0%BB%D0%B8%D0%BD%D0%B3%20%20%20%D0%B2%D1%96%D0%B4%D0%BF%D0%BE%D0%B2%D1%96%D0%B4%D0%B0%D0%BB%D1%8C%D0%BD%D1%96%D1%81%D1%82%D1%8C.pptx" title=" (у новому вікні)" class="hidden"></a>
                        
                        <p class="mt-4 flex flex-col items-center space-y-2">
                            <a href="http://school201.edukit.kiev.ua/Files/downloads/%D0%91%D1%83%D0%BB%D0%B8%D0%BD%D0%B3%20%20%20%D0%B2%D1%96%D0%B4%D0%BF%D0%BE%D0%B2%D1%96%D0%B4%D0%B0%D0%BB%D1%8C%D0%BD%D1%96%D1%81%D1%82%D1%8C.pptx" title=" (у новому вікні)" class="hidden"> </a>
                            
                            <a href="http://school201.edukit.kiev.ua/Files/downloads/%D0%91%D1%83%D0%BB%D1%96%D0%BD%D0%B3%20%D0%B2%D1%96%D0%B4%D0%BF%D0%BE%D0%B2%D1%96%D0%B4%D0%B0%D0%BB%D1%8C%D0%BD%D1%96%D1%81%D1%82%D1%8C.pdf" title=" (у новому вікні)" class="block ring-4 ring-red-400 ring-offset-2 hover:ring-red-600 transition duration-150 rounded-lg overflow-hidden" style="--tw-ring-color: rgb(75, 100, 150);">
                                <span>
                                    <img alt="Булинг відповідальність" src="https://github.com/gymnasium201-kyiv/gymnasium201-kyiv.github.io/blob/main/public/vidkritistj_ta_prozoristj_zakladu_osviti/zahodi_iz_protidiibulingu_u_zakladi.jpg?raw=true" style="cursor: pointer; max-width: 100%; height: auto;" class="hover:opacity-75 transition duration-150">
                                    <span></span>
                                </span>
                            </a>
                        </p>
            
                        <h1 class="text-xl font-semibold text-center mt-6">
                            <a href="http://school201.edukit.kiev.ua/Files/downloads/%D0%91%D1%83%D0%BB%D0%B8%D0%BD%D0%B3%20%20%20%D0%B2%D1%96%D0%B4%D0%BF%D0%BE%D0%B2%D1%96%D0%B4%D0%B0%D0%BB%D1%8C%D0%BD%D1%96%D1%81%D1%82%D1%8C.pptx" class="text-red-600 hover:text-red-800 transition duration-150 inline-block px-4 py-2 bg-red-50 hover:bg-red-100 rounded-lg" style="background-color: rgb(75, 100, 150); color: #ffffff;">
                                <strong>Завантажити</strong>
                                <br>
                                презентацію "Протидія булінгу"
                            </a>
                        </h1>
                    </div>
            
                    <div class="pt-4 border-t border-gray-200">
                        <span class="text-lg font-semibold text-gray-700 block mb-2">Вкладення</span>
                        <ul class="space-y-2 list-none p-0">
                            <li class="flex items-center text-blue-600 hover:text-blue-800" style="color: rgb(75, 100, 150);">
                                <img src="https://github.com/gymnasium201-kyiv/gymnasium201-kyiv.github.io/blob/main/public/vidkritistj_ta_prozoristj_zakladu_osviti/ico_pptx.gif?raw=true" alt="PPTX icon" class="w-4 h-4 mr-2">
                                <a href="http://school201.edukit.kiev.ua/Files/downloads/Булинг   відповідальність.pptx" class="hover:underline" style="color: rgb(75, 100, 150);"> Булинг   відповідальність.pptx</a>
                            </li>
                            <li class="flex items-center text-blue-600 hover:text-blue-800" style="color: rgb(75, 100, 150);">
                                <img src="https://github.com/gymnasium201-kyiv/gymnasium201-kyiv.github.io/blob/main/public/informaciya_pro_zaklad/ico_pdf.gif?raw=true" alt="PDF icon" class="w-4 h-4 mr-2">
                                <a href="http://school201.edukit.kiev.ua/Files/downloads/Булінг відповідальність.pdf" class="hover:underline" style="color: rgb(75, 100, 150);"> Булінг відповідальність.pdf</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>