<div class="flex flex-wrap justify-center gap-3 md:gap-4 p-4 rounded-lg shadow-inner">
    <a href="/informaciya_pro_zaklad/administration" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Адміністрація
    </a>
    <a href="/informaciya_pro_zaklad/educators" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Педагогічний колектив
    </a>
    <a href="/informaciya_pro_zaklad/innovacijna_ta_eksperimentaljna_diyaljnistj" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Іноваційна й експериментальна діяльність
    </a>
    <a href="/informaciya_pro_zaklad/kontakti" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Контакти
    </a>
</div>