<div class="flex flex-wrap justify-center gap-3 md:gap-4 p-4 rounded-lg shadow-inner">
    <a href="/informaciya_pro_zaklad/innovacijna_ta_eksperimentaljna_diyaljnistj/organizacijno-pedagogichni_umovi_funkcionuvannya_ta_rozvitku_bezpechnoi_shkoli_u_voyennijpovoyennij_chas" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Організаційно-педагогічні умови функціонування та розвитку безпечної школи у воєнний\повоєнний час
    </a>
    <a href="/informaciya_pro_zaklad/innovacijna_ta_eksperimentaljna_diyaljnistj/naukovo-pedagogichnij_proekt_rostok" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Науково-педагогічний проект „РОСТОК”
    </a>
    <a href="/informaciya_pro_zaklad/innovacijna_ta_eksperimentaljna_diyaljnistj/proekt_energoefektivni_shkoli" class="px-6 py-3 text-base font-semibold rounded-full bg-[#4b6496] text-white hover:bg-[#3a4e76] transition duration-200 shadow-lg hover:shadow-xl transform hover:scale-105">
        Проект "Енергоефективні школи"
    </a>
</div>