---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
                <div class="max-w-4xl mx-auto">
                    <style>
                        .custom-bg-primary {
                            background-color: rgb(75, 100, 150);
                        }
                        .custom-border-primary {
                            border-color: rgb(75, 100, 150);
                        }
                        .custom-text-primary {
                            color: rgb(75, 100, 150);
                        }
                        .custom-bg-light {
                            background-color: rgb(230, 235, 245); /* Світлий тон для фону блоків */
                        }
                        .custom-bg-even-row {
                            background-color: rgba(75, 100, 150, 0.05); /* Дуже світлий фон для чергових рядків */
                        }
                    </style>
            
                    <h1 class="text-5xl font-extrabold text-center text-gray-800 mb-10 sm:text-6xl border-b-4 custom-border-primary pb-4">
                        <strong>Педагогічний колектив гімназії №201</strong>
                    </h1>
            
                    <div class="shadow-2xl rounded-xl overflow-hidden mb-16 bg-white border border-gray-200">
                        <table class="min-w-full divide-y divide-gray-200">
                            <tbody class="bg-white divide-y divide-gray-100">
                                
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Зарубіжна література</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Гмиря Ганна Володимирівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Руденко Ольга Валентинівна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Українська мова та література</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Мефодьєва Світлана Олександрівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Возна Світлана Анатоліївна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Тимошенко Ольга Василівна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Англійська мова</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Курченко Антоніна Сергіївна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Колумбет Галина Сергіївна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Жила Світлана Вікторівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Круглов Петро Миколайович</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Історія</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Бондаренко Клавдія Пилипівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Плаксін Дмитро Миколайович</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Математика</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Венгер Олена Олександрівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Чусов Сергій Євгенович</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Фізика</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Лобанова Юлія Юріївна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Інформатика</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Скопінцев Данило Дмитрович</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Вербіцька Тетяна Сергіївна</td></tr>
                                
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Біологія</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Гузєва Євгенія Олександрівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Куктенко Тетяна Леонідівна</td></tr>
                                
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Хімія</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Лейко Інна Вікторівна</td></tr>
                                
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Географія</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Гапонько Наталія Миколаївна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider"><strong>Трудове навчання</strong></th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Анусіна Алла Анатоліївна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider"><strong>Образотворче мистецтво</strong></th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Костенчук Антоніна Миколаівна</td></tr>
                                
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Музичне мистецтво</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Костенчук Тетяна Миколаївна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Основи здоров'я</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Куктенко Тетяна Леонідівна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Фізичне виховання</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Верещак Дмитро Олександрович</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Долженко Олексій Сергійович</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Початкова школа</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">1-А клас Пономаренко Ірина Борисівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">1-Б клас Мокроусова Діана Анатоліівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">1-В клас Казначєєва Софія Миколаївна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">2-А клас Биковець Ніна Петрівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">2-Б клас Тарасова Наталія Вікторівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">2-В клас Кондратюк Жанна Григорівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">3-А клас Саркісьян Олена Вікторівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">3-Б клас Антонюк Тетяна Олексіївна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">3-В клас Мосендз Анна Анатоліївна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">4-А клас Зайчук Марія Михайлівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">4-Б клас Ушкалова Світлана Володимирівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 text-lg text-gray-800 text-center">4-В клас Хомич Юлія Іванівна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Вихователь ГПД</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Вавілов Владислав Олексійович</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Плаксін Дмитро Миколайович</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Анусіна Алла Анатоліївна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Козоріз Ніна Михайлівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Гордієнко Оксана Іванівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Столярська Ольга Вікторівна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Практичний психолог</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Шевченко Оксана Олекусіїївна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Керівники гуртка сучасного та естрадного танцю</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Вербенко Дар'я Юріївна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Керівник гуртка спортивного бального танцю</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Вахрушев Сергій Костянтинович</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Керівник театральної студії "Синтез"</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Костенчук Тетяна Миколаївна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Педагог–організатор</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Костенчук Антоніна Миколаївна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Завідуюча бібліотекою</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Калініна Ірина Михайлівна</td></tr>
            
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Медична сестра</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Данилюк Наталія Андріївна</td></tr>
                                
                                <tr>
                                    <th colspan="2" class="px-6 py-4 custom-bg-primary text-center text-xl font-bold text-white uppercase tracking-wider">Асистенти вчителя</th>
                                </tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Вавілов Владислав Олексійович</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Гармата Мирослава Михайлівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Гордієнко Оксана Іванівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Мефодьєва Анна Олегівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Кагарлицька Людмила Філімонівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Козоріз Ніна Михайлівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Панімаш Галина Василівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Рябчук Ірина Василівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Самсонова Марія Сергіївна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Хомич Дар'я Владиславівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Чуприна Наталія Олександрівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Шевченко Оксана Олексіївна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Шмат Галина Іванівна</td></tr>
                                <tr class="custom-bg-even-row"><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Шпильова Наталія Олександрівна</td></tr>
                                <tr><td colspan="2" class="px-6 py-3 whitespace-nowrap text-lg text-gray-800 text-center">Яценюк Тетяна Олександрівна</td></tr>
                            </tbody>
                        </table>
                    </div>
            
                    <div class="p-8 custom-bg-light border-l-8 custom-border-primary shadow-xl rounded-xl mb-16">
                        <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">
                            <strong>З 59 педагогічних працівників, що працюють у гімназії, всі мають педагогічну освіту, серед яких:</strong>
                        </h2>
                        <ul class="list-disc list-inside space-y-2 text-lg text-gray-700 ml-4">
                            <li class="text-center">старших вчителів – 6;</li>
                            <li class="text-center">вчителів-методистів – 8;</li>
                            <li class="text-center">спеціалістів вищої категорії – 20;</li>
                            <li class="text-center">спецуіалістів першої категорії – 6;</li>
                            <li class="text-center">спеціалістів другої категорії – 12;</li>
                            <li class="text-center">спеціалістів – 19;</li>
                            <li class="text-center">нагороджені знаком „Відмінник освіти України” – 5.</li>
                        </ul>
                    </div>
            
                    <div class="shadow-2xl rounded-xl overflow-hidden bg-white border border-gray-200">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="custom-bg-light">
                                <tr>
                                    <th class="px-6 py-4 text-center text-lg font-bold custom-text-primary uppercase tracking-wider">№</th>
                                    <th class="px-6 py-4 text-center text-lg font-bold custom-text-primary uppercase tracking-wider">Пед. звання</th>
                                    <th class="px-6 py-4 text-center text-lg font-bold custom-text-primary uppercase tracking-wider">П.І.Б.</th>
                                    <th class="px-6 py-4 text-center text-lg font-bold custom-text-primary uppercase tracking-wider">Предмет</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                                <tr class="hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">1</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Учитель-методист</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Гмиря Г.В.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Зарубіжна література<br></td>
                                </tr>
                                <tr class="custom-bg-even-row hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">2</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Учитель-методист</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Мефодьєва С.О.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Українська мова та література</td>
                                </tr>
                                <tr class="hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">3</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Учитель-методист</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Лобанова Ю.Ю.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Фізика</td>
                                </tr>
                                <tr class="custom-bg-even-row hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">4</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Учитель-методист</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Гузєва Є.О.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Біологія</td>
                                </tr>
                                <tr class="hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">5</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Учитель-методист</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Чусов С.Є.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Математика</td>
                                </tr>
                                <tr class="custom-bg-even-row hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">6</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Учитель-методист</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Бондаренко К.П.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Історія, правознавство</td>
                                </tr>
                                <tr class="hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">7</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Учитель-методист</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Антонюк Т.О.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Початкові класи</td>
                                </tr>
                                <tr class="custom-bg-even-row hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">8</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Учитель-методист</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Возна С.А.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Українська мова та література</td>
                                </tr>
                                <tr class="hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">9</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Старший учитель</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Жила С.В.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Аннглійська мова</td>
                                </tr>
                                <tr class="custom-bg-even-row hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">10</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Старший учитель</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Курченко А.С.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Англійська мова</td>
                                </tr>
                                <tr class="hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">11</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Старший учитель</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Лейко І.В.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Хімія</td>
                                </tr>
                                <tr class="custom-bg-even-row hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">12</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Старший учитель</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Руденко О.В.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Зарубіжна література</td>
                                </tr>
                                <tr class="hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">13</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Старший учитель</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Шмат Г.І.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Асистент вчителя</td>
                                </tr>
                                <tr class="custom-bg-even-row hover:bg-gray-100 transition duration-150">
                                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900 text-center">14</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Старший учитель</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Мосендз Г.А.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-lg text-gray-800 text-center">Початкові класи</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>