<div class="flex-grow container mx-auto p-4">
    <div class="w-full bg-white p-6 rounded-lg shadow-md">
        <article>
            <div class="max-w-4xl mx-auto">
                <style>
                    .custom-bg-primary {
                        background-color: rgb(75, 100, 150);
                    }
                    .custom-border-primary {
                        border-color: rgb(75, 100, 150);
                    }
                    .custom-text-primary {
                        color: rgb(75, 100, 150);
                    }
                    .custom-bg-light {
                        background-color: rgb(230, 235, 245); /* Світлий тон для фону блоків */
                    }
                    .custom-bg-even-row {
                        background-color: rgba(75, 100, 150, 0.05); /* Дуже світлий фон для чергових рядків */
                    }
                </style>
            
                <h1 class="text-5xl font-extrabold text-center text-gray-800 mb-10 sm:text-6xl border-b-4 custom-border-primary pb-4">
                    <strong>Педагогічний колектив гімназії №201</strong>
                </h1>
            
                <div class="p-8 custom-bg-light border-l-8 custom-border-primary shadow-xl rounded-xl mb-16">
                    <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">
                        <strong>З 75 педагогічних працівників гімназії, 69 працюють за основним місцем роботи, 6 — за сумісництвом.</strong> 
                    </h2>
                    <ul class="list-disc list-inside space-y-2 text-lg text-gray-700 ml-4">
                        <li class="text-center">Кандидат наук — 1 </li>
                        <li class="text-center">Мають педагогічне звання "Учитель-методист" – 12 </li>
                        <li class="text-center">Мають педагогічне звання "Старший учитель" – 6 </li>
                        <li class="text-center">Спеціалістів вищої категорії – 21 </li>
                        <li class="text-center">Спеціалістів першої категорії – 8 </li>
                        <li class="text-center">Спеціалістів другої категорії – 7 </li>
                        <li class="text-center">Спеціалістів – 39 </li>
                        <li class="text-center">Нагороджені знаком „Відмінник освіти України" – 3 </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>