---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
                <h1 class="text-center text-2xl sm:text-3xl font-extrabold text-gray-900 leading-tight mb-6">
                    <br>
                    Наш заклад став учасником реалізації інноваційного освітнього проєкту "<strong class="text-[#4b6496]">Організаційно-педагогічні умови функціонування та розвитку безпечної школи у воєнний/повоєнний час</strong>".
                    <br>
                    <br>
                </h1>
            
                <h2 class="text-xl sm:text-2xl font-semibold text-gray-700 mb-4 border-b border-gray-200 pb-2">
                    Термін реалізації проєкту: <span class="text-[#4b6496]">лютий 2023 року - грудень 2027 року</span>.
                    <br>
                    <br>
                </h2>
            
                <div class="space-y-3 mb-6">
                    <h3 class="text-lg font-medium text-gray-900">Основні документи проєкту:</h3>
                    
                    <div class="flex items-center p-3 rounded-lg hover:bg-gray-100 transition duration-150 ease-in-out border border-gray-200">
                        <a href="http://drive.google.com/file/d/12Q5aGN7IW3yiJzr__Nrgy6zSNQijbb20/view?usp=sharing" target="_blank" title="Відкриється у новому вікні" class="text-[#4b6496] hover:text-[#3a5078] font-medium">
                            Наказ про реалізацію проекту
                        </a>
                    </div>
                    
                    <div class="flex items-center p-3 rounded-lg hover:bg-gray-100 transition duration-150 ease-in-out border border-gray-200">
                        <a href="http://drive.google.com/file/d/1-sOd8WVJLazNCFtXTs4-NEQJj9K_sYYE/view?usp=sharing" target="_blank" title="Відкриється у новому вікні" class="text-[#4b6496] hover:text-[#3a5078] font-medium">
                            Заявка на реалізацію проекту
                        </a>
                    </div>
                    
                    <div class="flex items-center p-3 rounded-lg hover:bg-gray-100 transition duration-150 ease-in-out border border-gray-200">
                        <a href="http://drive.google.com/file/d/1MLUuKW4AheBprBoNXiKVFQoHRRXr0PPs/view?usp=sharing" target="_blank" title="Відкриється у новому вікні" class="text-[#4b6496] hover:text-[#3a5078] font-medium">
                            Програма реалізації проекту
                        </a>
                    </div>
                </div>
            
                <h3 class="text-base sm:text-lg text-gray-700 mb-4 p-3 bg-[#e8ecf3] rounded-lg">
                    У реалізації проєкту беруть участь заклади загальної середньої освіти з <strong class="font-semibold">м. Києва (12 закладів)</strong>, <strong class="font-semibold">Донецької, Запорізької, Луганської, Львівської, Сумської і Тернопільської областей</strong> (усього <strong class="text-[#4b6496]">50 закладів</strong> загальної середньої освіти України).
                </h3>
            
                <h3 class="text-base sm:text-lg text-gray-800 mb-6 p-4 border-l-4 border-[#4b6496] bg-gray-50 italic">
                    Даний інноваційний проєкт сприятиме дотриманню правил і норм фізичної, психологічної, інформаційної та соціальної безпеки кожного учасника освітнього процесу, позитивно впливатиме на емоційне благополуччя учнів, педагогів і батьків, сприятиме запобіганню будь-яких проявів насильства, ризикованої поведінки та забезпечить створення ресурсної бази щодо їх запобігання.
                </h3>
            
                <div class="mb-6">
                    <span class="text-xl font-bold text-gray-800 border-b-2 border-[#4b6496] pb-1">Вкладення</span>
                    <ul class="mt-3 space-y-2">
                        <li class="flex items-center p-2 rounded hover:bg-[#e8ecf3] transition duration-150">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-600 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0113 3.414L16.586 7A2 2 0 0117 8.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 4a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                            </svg>
                            <a href="http://school201.edukit.kiev.ua/Files/downloads/Заявка на реалізацію інноваційного освітнього проєкту.pdf" class="text-gray-700 hover:text-[#4b6496]">
                                Заявка на реалізацію інноваційного освітнього проєкту.pdf
                            </a>
                        </li>
                        <li class="flex items-center p-2 rounded hover:bg-[#e8ecf3] transition duration-150">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-600 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0113 3.414L16.586 7A2 2 0 0117 8.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 4a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                            </svg>
                            <a href="http://school201.edukit.kiev.ua/Files/downloads/НАКАЗ Про реалізацію інноваційного освітнього проєкту.pdf" class="text-gray-700 hover:text-[#4b6496]">
                                НАКАЗ Про реалізацію інноваційного освітнього проєкту.pdf
                            </a>
                        </li>
                        <li class="flex items-center p-2 rounded hover:bg-[#e8ecf3] transition duration-150">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-600 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0113 3.414L16.586 7A2 2 0 0117 8.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 4a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                            </svg>
                            <a href="http://school201.edukit.kiev.ua/Files/downloads/Програма реалізації інноваційного освітнього прєкту.pdf" class="text-gray-700 hover:text-[#4b6496]">
                                Програма реалізації інноваційного освітнього прєкту.pdf
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>