---
import schoollogo from "../assets/logo.jpg";
---

<footer class="footer">
    <div class="footer-content">
        <div class="contacts">
            <p>Адміністратор сайту - вчитель гімназії Чусов С.Є.</p>
            <p>Творець сайту - вчитель гімназії Скопінцев Д. Д.</p>
        </div>
    </div>
</footer>

<style>
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'Open Sans', sans-serif;
      background: #f7f7f7;
  }

  /* Footer */
  .footer {
    background: rgb(75, 100, 150);
      color: white;
      padding: 40px 20px;
      margin-top: 50px;
  }

  .footer-content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
  }
</style>