---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
                <h1 class="text-2xl sm:text-3xl font-extrabold text-center text-blue-800 mb-6 mt-4 leading-tight" style="color: rgb(75, 100, 150);">
                    Заходи, спрямовані на досягнення пріоритетних завдань забезпечення функціонування ключових інформаційних платформ щодо європейської інтеграції
                </h1>
                <hr class="border-t-2 border-blue-500 mb-8" style="border-color: rgb(75, 100, 150);">
            
                <div class="space-y-4">
                    <div class="border-l-4 border-blue-500 pl-4 py-2 hover:bg-blue-50 transition duration-300 rounded-md" style="border-left-color: rgb(75, 100, 150);">
                        <a href="http://school201.edukit.kiev.ua/zaklad-chastina_yevropejsjkogo_osvitnjogo_prostoru/spivpracya_z_yevropejsjkimi_osvitnimi_instituciyami/" class="text-lg font-semibold text-blue-700 hover:text-blue-900 block" style="color: rgb(75, 100, 150);">
                            Співпраця з європейськими освітніми інституціями
                        </a>
                    </div>
                    
                    <div class="border-l-4 border-blue-500 pl-4 py-2 hover:bg-blue-50 transition duration-300 rounded-md" style="border-left-color: rgb(75, 100, 150);">
                        <a href="http://school201.edukit.kiev.ua/zaklad-chastina_yevropejsjkogo_osvitnjogo_prostoru/uchastj_teatraljnoi_studii_sintez_u_mizhnarodnih_konkursah/" class="text-lg font-semibold text-blue-700 hover:text-blue-900 block" style="color: rgb(75, 100, 150);">
                            Участь театральної студії "Синтез" у Міжнародних конкурсах
                        </a>
                    </div>
                    
                    <div class="border-l-4 border-blue-500 pl-4 py-2 hover:bg-blue-50 transition duration-300 rounded-md" style="border-left-color: rgb(75, 100, 150);">
                        <a href="http://school201.edukit.kiev.ua/zaklad-chastina_yevropejsjkogo_osvitnjogo_prostoru/tehnologiya_clil_na_urokah_inozemnoi_movi/" class="text-lg font-semibold text-blue-700 hover:text-blue-900 block" style="color: rgb(75, 100, 150);">
                            Технологія CLIL на уроках іноземної мови
                        </a>
                    </div>
                    
                    <div class="border-l-4 border-blue-500 pl-4 py-2 hover:bg-blue-50 transition duration-300 rounded-md" style="border-left-color: rgb(75, 100, 150);">
                        <a href="http://school201.edukit.kiev.ua/zaklad-chastina_yevropejsjkogo_osvitnjogo_prostoru/blagodijni_koncerti_v_nimechchini/" class="text-lg font-semibold text-blue-700 hover:text-blue-900 block" style="color: rgb(75, 100, 150);">
                            Благодійні концерти в Німеччині
                        </a>
                    </div>
                    
                    <div class="border-l-4 border-blue-500 pl-4 py-2 hover:bg-blue-50 transition duration-300 rounded-md" style="border-left-color: rgb(75, 100, 150);">
                        <a href="http://school201.edukit.kiev.ua/zaklad-chastina_yevropejsjkogo_osvitnjogo_prostoru/vokaljni_treningi_dlya_ukrainsjkih_ditej_yaki_zhivutj_v_nimechchini/" class="text-lg font-semibold text-blue-700 hover:text-blue-900 block" style="color: rgb(75, 100, 150);">
                            Вокальні тренінги для українських дітей, які живуть в Німеччині
                        </a>
                    </div>
                    
                    <div class="border-l-4 border-blue-500 pl-4 py-2 hover:bg-blue-50 transition duration-300 rounded-md" style="border-left-color: rgb(75, 100, 150);">
                        <a href="http://school201.edukit.kiev.ua/zaklad-chastina_yevropejsjkogo_osvitnjogo_prostoru/uchastj_studii_sportivnogo_baljnogo_tancyu_special_one_u_mizhnarodnih_zmagannyah/" class="text-lg font-semibold text-blue-700 hover:text-blue-900 block" style="color: rgb(75, 100, 150);">
                            Участь студії спортивного бального танцю Special one у Міжнародних змаганнях
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>