---
import schoollogo from "../assets/logo.jpg";
---

<div class="flex-grow container mx-auto p-4">
        <div class="w-full bg-white p-6 rounded-lg shadow-md">
            <article>
                <h1 style="color: rgb(75, 100, 150);" class="text-2xl md:text-3xl font-bold text-center mb-2 text-gray-800">До квітня 2025 року гімназія №201 була СЗШ№201 м. Києва.</h1>
                <h1 style="color: rgb(75, 100, 150);" class="text-xl md:text-2xl font-semibold text-center mb-6 text-indigo-700"><strong>Середня загальноосвітня школа I-III ступенів №201 заснована у 1971 році.</strong></h1>
                <p class="flex justify-center mb-8">
                    <span class="block max-w-lg overflow-hidden rounded-lg shadow-md">
                        <img alt="/Files/images/storya_shkoli/іст на сайт.jpg" src="https://github.com/gymnasium201-kyiv/gymnasium201-kyiv.github.io/blob/main/public/istoriya_shkoli/istoriya_shkoli.jpg?raw=true" style="cursor: pointer;" class="max-w-full h-auto transition duration-300 ease-in-out hover:opacity-90">
                        <span class=""></span>
                    </span>
                </p>
            </article>
        </div>
    </div>
</div>

<style>
    /* Застосування шрифту Inter до всього тіла документа */
    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f3f4f6; /* Light gray background */
        font-size: larger;
    }
</style>